$md-size: 26px;
$medium-size: 38px;
$small-size: 24px;
$big-size: 40px;
$full-size: 28px;

$b-1: #E6E8EA;
$b-2: #9AA1AA;
$b-3: #f2f3f4;
$b-4: #FF6633;
$b-5: #3399ff;
$b-6: #1D2C41;
$b-7: #CCD0D4;
$b-8: #6bcaf8;

@import './flex.scss';
@import './styles.scss';
@import './mixins.scss';