.medium {
    font-size: $medium-size;
}

.small {
    font-size: $small-size;
}

.gray {
    color: $b-2;
}

.medium {
    font-size: $medium-size;
}

.full {
    font-size: $full-size;
}

.blue {
    color: $b-5;
}

.loading {
    height: 48px;
    width: 48px;
}